# Node modules
**/node_modules/

# Build output
**/dist/
**/build/

# TypeScript artifacts
*.tsbuildinfo

# Local environment
.env
.env.local
.env.development
.env.test
.env.production

# Prisma
**/prisma/*.db
**/prisma/*.db-journal
**/prisma/migrations/dev*

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sw?
*.log
