# Node modules
node_modules/

# Build output
dist/
build/

# TypeScript artifacts
*.tsbuildinfo

# Local environment
.env
.env.local
.env.development
.env.test
.env.production

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/dev*

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sw?
*.log
